#block_create_block{
	position: absolute;
	left: 15%;
	top: 7%;
	width: 70%;
	height: 800px;
	border: 1px solid black;
	border-radius: 40px;
	box-shadow: 0px 0px 5px black;
	background-color: white;
	z-index: 20;
}
#block_create_block h5{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
	text-align: center;
	margin-top: 20px;
	text-transform: uppercase;
	font-style: italic;
	word-spacing: 17px;
}
#block_create_block h4{
	font-size: 19px;
	font-weight: 900;
	letter-spacing: 1px;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	position: relative;
	top: 700px;
	text-transform: uppercase;
	font-style: italic;
	margin-left: 4%;
	left: -18%;
}
#block_create_block h4:hover{
	color: red;
}
#block_create_block img{
	width: 35px;
	height: 35px;
	position: relative;
	left: 96%;
	top: -38px;
	cursor: pointer;
}
#block_create_block span{
	font-size: 17px;
	font-style: italic;
	cursor: pointer;
	font-weight: 700;
	color: white;
	padding: 10px 20px 10px 20px;
	background-color: #808080;
	border-radius: 10px;
	text-align: center;
	letter-spacing: 1px;
	margin-left: 18%;
	position: relative;
	top: 10px;
}
#block_create_block span:nth-child(3){
	left: -13%;
}
#add_img_block{
	display: none;
}
#create_img_block{
	left: 14%;
	margin-left: 0% !important;
}
#chenge_block{
	position: absolute;
	left: 5%;
	width: 90%;
	border: 2px solid black;
	height: 100%;
	border-radius: 20px;
	z-index: 23;
	background-color: white;
}
#chenge_block h5{
	text-align: center;
	display: inline-block;
	position: relative;
	left: -3%;/*64%;*/
	top: 900px;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 19px;
	letter-spacing: 1px;	
}
#chenge_block h6{
	text-align: center;
	display: inline-block;
	position: relative;
	left: 15%;
	font-style: italic;
	text-transform: uppercase;
	font-weight: 700;
	top: 5px;
	font-size: 19px;
	letter-spacing: 1px;
}
#chenge_block h6:nth-child(2){
	left: 76%;
}
#cancel3{
	width: 35px;
	height: 35px;
	position: relative;
	left: 85%;
	cursor: pointer;
	
}
#block_redactor{
	border: 2px solid black;
	position: relative;
	top: 59.5%;
	border-radius: 20px 20px 0px 0px;
	left: 2.5%;
	height: 350px;
	width: 30%;
}
#end_block{
	left: 53% !important;
}
.button_click_cheng_img{
	background-color: silver;
	font-weight: 700;
	border-radius: 15px;
	color: white;
	/*width: 25%;*/
	margin-left: 5px;
	margin-top: 5px;
	display: inline-block;
	cursor: pointer;
	border: 2px solid silver;
}